{% extends "base.html" %}

{% block contenu %}
<div class="jumbotron">
    <h1 class="display-5">Dépenses d'assurance maladie hors prestations hospitalières par caisse primaire/département</h1>
    <p class="lead">Les données sont des remboursements mensuels effectués par le régime général de l'Assurance Maladie (hors prestations hospitalières) par caisse primaire/département, par type de prestations (soins et prestations en espèces), type d'exécutant (médecins par spécialité, chirurgiens dentistes, auxiliaires médicaux, laboratoires d'analyse, pharmaciens, ...) et par type de prescripteurs. Les dépenses sont indiquées en montants remboursés et présentées au remboursement..</p>
    <hr class="my-4">
    <p>Les données provient d'un service public certifié (FRANCE).</p>
    <a class="btn btn-primary btn-lg" href="https://www.data.gouv.fr/fr/datasets/depenses-d-assurance-maladie-hors-prestations-hospitalieres-par-caisse-primaire-departement/" target="_blank">Pour plus</a>
</div>
{% endblock %}